.company {
  margin-top: 300px;
  border: #3a979c solid 5px;
  background: #205567;
  opacity: 0.7;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    &_img {
      width: 150px;
      &:hover {
        width: 200px;
        transition: 2s;
      }
    }
  }
}
